# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:

air_bnb = pd.read_csv('AB_NYC_2019.csv')
# air_bnb
# air_bnb.set_option('display.max_rows',100)

In [12]:
# How many neighborhood groups are available and which shows up the most?

print('There are 5 Neighborhood groups and Manhattan shows up the most.')
air_bnb.groupby(['neighbourhood_group']).sum().sort_values('calculated_host_listings_count',ascending=False)

There are 5 Neighborhood groups and Manhattan shows up the most.

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood_group,,,,,,,,,,
Manhattan,406683958152,1469279004836,883012.01680,-1.602364e+06,4264527,185833,454569,21158.08,277073,2425586
Brooklyn,367035792483,1140203577483,817931.96821,-1.486715e+06,2500600,121761,486574,21104.98,45925,2015070
Queens,123263814259,544824426112,230784.85597,-4.185631e+05,563867,29358,156950,8879.05,23005,818464
Bronx,24803796188,115220380205,44565.50071,-8.060805e+04,95459,4976,28371,1609.94,2437,180843
Staten Island,8055857451,36753031930,15147.61383,-2.764147e+04,42825,1802,11541,587.99,865,74480

In [13]:
# Are private rooms the most popular in manhattan?
print('Not at all, Entire home/apt is the most popular in room type in Manhattan. ')
air_bnb.groupby(['room_type','neighbourhood_group']).count().sort_values('room_type', ascending=False)

Not at all, Entire home/apt is the most popular in room type in Manhattan.

                                        id   name  host_id  host_name  \
room_type       neighbourhood_group
Shared room     Bronx                   60     59       60         60
                Brooklyn               413    413      413        413
                Manhattan              480    480      480        480
                Queens                 198    198      198        198
                Staten Island            9      9        9          9
Private room    Bronx                  652    652      652        652
                Brooklyn             10132  10127    10132      10128
                Manhattan             7982   7979     7982       7976
                Queens                3372   3372     3372       3370
                Staten Island          188    188      188        188
Entire home/apt Bronx                  379    379      379        378
                Brooklyn              9559   9558     9559       9554
                Manhattan            13199  13193    13199      13196
                Queens                2096   2096     2096       2096
                Staten Island          176    176      176        176

                                     neighbourhood  latitude  longitude  \
room_type       neighbourhood_group
Shared room     Bronx                           60        60         60
                Brooklyn                       413       413        413
                Manhattan                      480       480        480
                Queens                         198       198        198
                Staten Island                    9         9          9
Private room    Bronx                          652       652        652
                Brooklyn                     10132     10132      10132
                Manhattan                     7982      7982       7982
                Queens                        3372      3372       3372
                Staten Island                  188       188        188
Entire home/apt Bronx                          379       379        379
                Brooklyn                      9559      9559       9559
                Manhattan                    13199     13199      13199
                Queens                        2096      2096       2096
                Staten Island                  176       176        176

                                     price  minimum_nights  number_of_reviews  \
room_type       neighbourhood_group
Shared room     Bronx                   60              60                 60
                Brooklyn               413             413                413
                Manhattan              480             480                480
                Queens                 198             198                198
                Staten Island            9               9                  9
Private room    Bronx                  652             652                652
                Brooklyn             10132           10132              10132
                Manhattan             7982            7982               7982
                Queens                3372            3372               3372
                Staten Island          188             188                188
Entire home/apt Bronx                  379             379                379
                Brooklyn              9559            9559               9559
                Manhattan            13199           13199              13199
                Queens                2096            2096               2096
                Staten Island          176             176                176

                                     last_review  reviews_per_month  \
room_type       neighbourhood_group
Shared room     Bronx                         43                 43
                Brooklyn                     290                290
                Manhattan                    356                356
                Queens                       152                152
                Staten Island                  5                  5
Private room    Bronx                        524                524
                Brooklyn                    7993               7993
                Manhattan                   6309               6309
                Queens                      2680               2680
                Staten Island                159                159
Entire home/apt Bronx                        309                309
                Brooklyn                    8164               8164
                Manhattan                   9967               9967
                Queens                      1742               1742
                Staten Island                150                150

                                     calculated_host_listings_count  \
room_type       neighbourhood_group
Shared room     Bronx                                            60
                Brooklyn                                        413
                Manhattan                                       480
                Queens                                          198
                Staten Island                                     9
Private room    Bronx                                           652
                Brooklyn                                      10132
                Manhattan                                      7982
                Queens                                         3372
                Staten Island                                   188
Entire home/apt Bronx                                           379
                Brooklyn                                       9559
                Manhattan                                     13199
                Queens                                         2096
                Staten Island                                   176

                                     availability_365
room_type       neighbourhood_group
Shared room     Bronx                              60
                Brooklyn                          413
                Manhattan                         480
                Queens                            198
                Staten Island                       9
Private room    Bronx                             652
                Brooklyn                        10132
                Manhattan                        7982
                Queens                           3372
                Staten Island                     188
Entire home/apt Bronx                             379
                Brooklyn                         9559
                Manhattan                       13199
                Queens                           2096
                Staten Island                     176

In [14]:
# Which hosts are the busiest and based on their reviews?
print('Michael is the busiest based on reviews.')
air_bnb.groupby(['host_name']).sum().sort_values('number_of_reviews', ascending=False)

Michael is the busiest based on reviews.

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
host_name,,,,,,,,,,
Michael,7430617239,22673153604,16984.89137,-30841.28573,66895,4600,11081,475.82,1043,38888
David,7943862898,28633613354,16414.34392,-29804.53757,65844,3754,8103,508.61,907,44171
John,5737372154,24525297065,11974.02914,-21743.58993,41892,2603,7223,321.02,2792,40249
Jason,2176696732,6962647849,5700.22907,-10354.60535,19381,1193,6522,196.15,312,19338
Alex,5496620312,19850092761,11361.10533,-20635.86235,52563,1651,6204,443.44,475,30031
...,...,...,...,...,...,...,...,...,...,...
Rabah,3302932,2082345,40.69165,-73.84841,250,5,0,0.00,1,32
Rabi & Soukaina,34364716,2123674,40.60939,-73.95475,70,3,0,0.00,1,83
Rachad,13821806,7695239,40.72128,-73.95782,249,3,0,0.00,1,0
Rachel & Alex,36449345,115528632,40.69171,-73.95418,80,1,0,0.00,1,43
현선,26139678,18497228,40.80485,-73.96534,1200,60,0,0.00,1,365

In [140]:
#Which neighorhood group has the highest average price?
print('Manhattan has the highest average price of $196.88')

air_bnb.groupby('neighbourhood_group',as_index=False).mean().round(decimals=2)[['neighbourhood_group','price']]

Manhattan has the highest average price of $196.88

  neighbourhood_group   price
0               Bronx   87.50
1            Brooklyn  124.38
2           Manhattan  196.88
3              Queens   99.52
4       Staten Island  114.81

In [11]:
# Which neighbor hood group has the highest total price?
print('Manhattan has the highest total price.')
air_bnb.groupby(['neighbourhood_group']).sum()

Manhattan has the highest total price.

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood_group,,,,,,,,,,
Bronx,24803796188,115220380205,44565.50071,-8.060805e+04,95459,4976,28371,1609.94,2437,180843
Brooklyn,367035792483,1140203577483,817931.96821,-1.486715e+06,2500600,121761,486574,21104.98,45925,2015070
Manhattan,406683958152,1469279004836,883012.01680,-1.602364e+06,4264527,185833,454569,21158.08,277073,2425586
Queens,123263814259,544824426112,230784.85597,-4.185631e+05,563867,29358,156950,8879.05,23005,818464
Staten Island,8055857451,36753031930,15147.61383,-2.764147e+04,42825,1802,11541,587.99,865,74480

In [16]:
#Which top 5 hosts have the highest total price?
top5=air_bnb.groupby(['host_name']).sum().sort_values('price', ascending=False)
top5.head(5)

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
host_name,,,,,,,,,,
Sonder (NYC),10885561678,71782340547,13316.25823,-24198.18856,82795,4353,1281,397.56,106929,98588
Blueground,7210036953,24924786136,9451.60418,-17166.13165,70331,7470,29,6.04,53824,58884
Michael,7430617239,22673153604,16984.89137,-30841.28573,66895,4600,11081,475.82,1043,38888
David,7943862898,28633613354,16414.34392,-29804.53757,65844,3754,8103,508.61,907,44171
Alex,5496620312,19850092761,11361.10533,-20635.86235,52563,1651,6204,443.44,475,30031

In [138]:
# Who currently has no (zero) availability with a review count of 100 or more?
# print(air_bnb.columns)
print('Michael has 0 availability with 2336 reviews')
air_bnb.groupby(['host_name','availability_365']).sum().sort_values('number_of_reviews', ascending=False)

Michael has 0 availability with 2336 reviews

,,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count
host_name,availability_365,,,,,,,,,
Michael,0,2718854998,7984860040,7127.84163,-12943.43971,25700,901,2336,86.92,339
David,0,2816185763,8055764190,7127.96313,-12942.97770,27165,1472,1268,64.81,224
Gurpreet Singh,0,63732079,114798475,203.47368,-369.12657,259,5,1157,30.19,25
Brian,0,911229383,2513084311,2850.84512,-5177.54031,11590,191,1018,35.88,84
Sarah,0,1771938056,4592820696,5131.69631,-9318.69172,15239,411,816,30.44,145
...,...,...,...,...,...,...,...,...,...,...
Anita-Kay,179,20652607,147695010,40.69606,-73.77311,125,1,0,0.00,1
Shane,28,35610220,21649183,40.69644,-73.91995,78,2,0,0.00,1
Kevin,364,100886650,15003056,162.99942,-296.01638,16180,4,0,0.00,24
Shandor,365,25135694,1494472,40.69823,-73.97357,150,21,0,0.00,2
현선,365,26139678,18497228,40.80485,-73.96534,1200,60,0,0.00,1

In [147]:
# What host has the highest total of prices and where are they located?
print(air_bnb.columns)
air_bnb.groupby(['host_name','neighbourhood']).sum().sort_values('price', ascending=False)

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

,,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
host_name,neighbourhood,,,,,,,,,,
Sonder (NYC),Financial District,7243034001,47854893698,8874.12354,-16134.19302,57738,1786,1129,354.27,71286,68225
Red Awning,Midtown,1415225676,10046545705,1996.92821,-3624.34656,35294,750,127,21.21,2401,10796
Kevin,Chelsea,228036044,75986896,448.21455,-814.01679,20003,18,50,1.84,43,1730
Jessica,Clinton Hill,96683486,75258707,610.35668,-1109.50362,15804,58,607,10.45,125,4014
Henry,Upper West Side,50490959,7525512,367.01475,-665.82571,15000,270,227,3.57,99,2914
...,...,...,...,...,...,...,...,...,...,...,...
Mario,Hell's Kitchen,19415314,47336995,40.75812,-73.98935,10,1,2,0.08,1,0
Luz,Highbridge,27316669,205820814,40.83454,-73.92751,10,1,0,0.00,1,180
Salim,Upper West Side,24114389,180661875,40.76844,-73.98333,10,1,2,0.13,1,0
Aymeric,Williamsburg,20624541,10132166,40.70838,-73.94645,0,5,3,0.15,1,73
Qiuchi,Murray Hill,20933849,13709292,40.75091,-73.97597,0,3,0,0.00,1,0

In [35]:
# When did Danielle from Queens last receive a review?
hosts=air_bnb.groupby(['host_name','neighbourhood','neighbourhood_group']).count().sort_values('host_name',ascending=True)
hosts.head(60)

                                                                        id  \
host_name                neighbourhood             neighbourhood_group
'Cil                     Astoria                   Queens                1
(Ari) HENRY LEE          East Harlem               Manhattan             1
(Email hidden by Airbnb) Clinton Hill              Brooklyn              1
                         Midtown                   Manhattan             2
                         Upper West Side           Manhattan             1
                         West Village              Manhattan             1
                         Williamsburg              Brooklyn              1
(Mary) Haiy              Bay Ridge                 Brooklyn              1
-TheQueensCornerLot      Queens Village            Queens                1
0123                     Lower East Side           Manhattan             1
2018Serenity             East Harlem               Manhattan             1
371                      Bushwick                  Brooklyn              1
475                      Harlem                    Manhattan             4
5 Star Stays             Prospect-Lefferts Gardens Brooklyn              1
@ Art House Monique      Bedford-Stuyvesant        Brooklyn              4
A                        Upper West Side           Manhattan             1
                         Prospect-Lefferts Gardens Brooklyn              2
                         Little Italy              Manhattan             1
                         Kips Bay                  Manhattan             1
                         Crown Heights             Brooklyn              1
                         Flushing                  Queens                2
                         Astoria                   Queens                1
                         Hell's Kitchen            Manhattan             1
A & H                    Bay Ridge                 Brooklyn              1
A Tree Grows In Brooklyn Prospect-Lefferts Gardens Brooklyn              1
A-B                      West Village              Manhattan             1
A. Kaylee                Harlem                    Manhattan             2
                         Prospect-Lefferts Gardens Brooklyn              1
A. Nicholas              Upper East Side           Manhattan             4
A.B.                     Kew Gardens               Queens                2
                         Midtown                   Manhattan             1
A.J.                     Prospect-Lefferts Gardens Brooklyn              1
                         Hell's Kitchen            Manhattan             1
                         East Village              Manhattan             2
                         Greenwich Village         Manhattan             1
                         Harlem                    Manhattan             1
A.M                      Flatbush                  Brooklyn              1
A.R.                     Hell's Kitchen            Manhattan             1
AFI Apartments           Upper East Side           Manhattan            29
AGood                    Astoria                   Queens                1
AHm                      Bedford-Stuyvesant        Brooklyn              1
AJ And Freddy            Midtown                   Manhattan             1
                         Williamsburg              Brooklyn              1
Aaash                    Hell's Kitchen            Manhattan             1
Aakash                   Upper East Side           Manhattan             1
Aalap                    Nolita                    Manhattan             1
Aamir                    Harlem                    Manhattan             1
                         Williamsburg              Brooklyn              1
Aamito                   Chelsea                   Manhattan             1
Aanchal                  Morningside Heights       Manhattan             1
Aandrea                  Chelsea                   Manhattan             1
Aaron                    Williamsburg              Brooklyn              4
                         Washington Heights        Manhattan             2
                         Van Nest                  Bronx                 1
                         Upper West Side           Manhattan             4
                         Upper East Side           Manhattan             1
                         Sunset Park               Brooklyn              1
                         South Slope               Brooklyn              2
                         Prospect-Lefferts Gardens Brooklyn              3
                         Midtown                   Manhattan             4

                                                                        name  \
host_name                neighbourhood             neighbourhood_group
'Cil                     Astoria                   Queens                  1
(Ari) HENRY LEE          East Harlem               Manhattan               1
(Email hidden by Airbnb) Clinton Hill              Brooklyn                1
                         Midtown                   Manhattan               2
                         Upper West Side           Manhattan               1
                         West Village              Manhattan               1
                         Williamsburg              Brooklyn                1
(Mary) Haiy              Bay Ridge                 Brooklyn                1
-TheQueensCornerLot      Queens Village            Queens                  1
0123                     Lower East Side           Manhattan               1
2018Serenity             East Harlem               Manhattan               1
371                      Bushwick                  Brooklyn                1
475                      Harlem                    Manhattan               4
5 Star Stays             Prospect-Lefferts Gardens Brooklyn                1
@ Art House Monique      Bedford-Stuyvesant        Brooklyn                4
A                        Upper West Side           Manhattan               1
                         Prospect-Lefferts Gardens Brooklyn                2
                         Little Italy              Manhattan               1
                         Kips Bay                  Manhattan               1
                         Crown Heights             Brooklyn                1
                         Flushing                  Queens                  2
                         Astoria                   Queens                  1
                         Hell's Kitchen            Manhattan               1
A & H                    Bay Ridge                 Brooklyn                1
A Tree Grows In Brooklyn Prospect-Lefferts Gardens Brooklyn                1
A-B                      West Village              Manhattan               1
A. Kaylee                Harlem                    Manhattan               2
                         Prospect-Lefferts Gardens Brooklyn                1
A. Nicholas              Upper East Side           Manhattan               4
A.B.                     Kew Gardens               Queens                  2
                         Midtown                   Manhattan               1
A.J.                     Prospect-Lefferts Gardens Brooklyn                1
                         Hell's Kitchen            Manhattan               1
                         East Village              Manhattan               2
                         Greenwich Village         Manhattan               1
                         Harlem                    Manhattan               1
A.M                      Flatbush                  Brooklyn                1
A.R.                     Hell's Kitchen            Manhattan               1
AFI Apartments           Upper East Side           Manhattan              29
AGood                    Astoria                   Queens                  1
AHm                      Bedford-Stuyvesant        Brooklyn                1
AJ And Freddy            Midtown                   Manhattan               1
                         Williamsburg              Brooklyn                1
Aaash                    Hell's Kitchen            Manhattan               1
Aakash                   Upper East Side           Manhattan               1
Aalap                    Nolita                    Manhattan               1
Aamir                    Harlem                    Manhattan               1
                         Williamsburg              Brooklyn                1
Aamito                   Chelsea                   Manhattan               1
Aanchal                  Morningside Heights       Manhattan               1
Aandrea                  Chelsea                   Manhattan               1
Aaron                    Williamsburg              Brooklyn                4
                         Washington Heights        Manhattan               2
                         Van Nest                  Bronx                   1
                         Upper West Side           Manhattan               4
                         Upper East Side           Manhattan               1
                         Sunset Park               Brooklyn                1
                         South Slope               Brooklyn                2
                         Prospect-Lefferts Gardens Brooklyn                3
                         Midtown                   Manhattan               4

                                                                        host_id  \
host_name                neighbourhood             neighbourhood_group
'Cil                     Astoria                   Queens                     1
(Ari) HENRY LEE          East Harlem               Manhattan                  1
(Email hidden by Airbnb) Clinton Hill              Brooklyn                   1
                         Midtown                   Manhattan                  2
                         Upper West Side           Manhattan                  1
                         West Village              Manhattan                  1
                         Williamsburg              Brooklyn                   1
(Mary) Haiy              Bay Ridge                 Brooklyn                   1
-TheQueensCornerLot      Queens Village            Queens                     1
0123                     Lower East Side           Manhattan                  1
2018Serenity             East Harlem               Manhattan                  1
371                      Bushwick                  Brooklyn                   1
475                      Harlem                    Manhattan                  4
5 Star Stays             Prospect-Lefferts Gardens Brooklyn                   1
@ Art House Monique      Bedford-Stuyvesant        Brooklyn                   4
A                        Upper West Side           Manhattan                  1
                         Prospect-Lefferts Gardens Brooklyn                   2
                         Little Italy              Manhattan                  1
                         Kips Bay                  Manhattan                  1
                         Crown Heights             Brooklyn                   1
                         Flushing                  Queens                     2
                         Astoria                   Queens                     1
                         Hell's Kitchen            Manhattan                  1
A & H                    Bay Ridge                 Brooklyn                   1
A Tree Grows In Brooklyn Prospect-Lefferts Gardens Brooklyn                   1
A-B                      West Village              Manhattan                  1
A. Kaylee                Harlem                    Manhattan                  2
                         Prospect-Lefferts Gardens Brooklyn                   1
A. Nicholas              Upper East Side           Manhattan                  4
A.B.                     Kew Gardens               Queens                     2
                         Midtown                   Manhattan                  1
A.J.                     Prospect-Lefferts Gardens Brooklyn                   1
                         Hell's Kitchen            Manhattan                  1
                         East Village              Manhattan                  2
                         Greenwich Village         Manhattan                  1
                         Harlem                    Manhattan                  1
A.M                      Flatbush                  Brooklyn                   1
A.R.                     Hell's Kitchen            Manhattan                  1
AFI Apartments           Upper East Side           Manhattan                 29
AGood                    Astoria                   Queens                     1
AHm                      Bedford-Stuyvesant        Brooklyn                   1
AJ And Freddy            Midtown                   Manhattan                  1
                         Williamsburg              Brooklyn                   1
Aaash                    Hell's Kitchen            Manhattan                  1
Aakash                   Upper East Side           Manhattan                  1
Aalap                    Nolita                    Manhattan                  1
Aamir                    Harlem                    Manhattan                  1
                         Williamsburg              Brooklyn                   1
Aamito                   Chelsea                   Manhattan                  1
Aanchal                  Morningside Heights       Manhattan                  1
Aandrea                  Chelsea                   Manhattan                  1
Aaron                    Williamsburg              Brooklyn                   4
                         Washington Heights        Manhattan                  2
                         Van Nest                  Bronx                      1
                         Upper West Side           Manhattan                  4
                         Upper East Side           Manhattan                  1
                         Sunset Park               Brooklyn                   1
                         South Slope               Brooklyn                   2
                         Prospect-Lefferts Gardens Brooklyn                   3
                         Midtown                   Manhattan                  4

                                                                        latitude  \
host_name                neighbourhood             neighbourhood_group
'Cil                     Astoria                   Queens                      1
(Ari) HENRY LEE          East Harlem               Manhattan                   1
(Email hidden by Airbnb) Clinton Hill              Brooklyn                    1
                         Midtown                   Manhattan                   2
                         Upper West Side           Manhattan                   1
                         West Village              Manhattan                   1
                         Williamsburg              Brooklyn                    1
(Mary) Haiy              Bay Ridge                 Brooklyn                    1
-TheQueensCornerLot      Queens Village            Queens                      1
0123                     Lower East Side           Manhattan                   1
2018Serenity             East Harlem               Manhattan                   1
371                      Bushwick                  Brooklyn                    1
475                      Harlem                    Manhattan                   4
5 Star Stays             Prospect-Lefferts Gardens Brooklyn                    1
@ Art House Monique      Bedford-Stuyvesant        Brooklyn                    4
A                        Upper West Side           Manhattan                   1
                         Prospect-Lefferts Gardens Brooklyn                    2
                         Little Italy              Manhattan                   1
                         Kips Bay                  Manhattan                   1
                         Crown Heights             Brooklyn                    1
                         Flushing                  Queens                      2
                         Astoria                   Queens                      1
                         Hell's Kitchen            Manhattan                   1
A & H                    Bay Ridge                 Brooklyn                    1
A Tree Grows In Brooklyn Prospect-Lefferts Gardens Brooklyn                    1
A-B                      West Village              Manhattan                   1
A. Kaylee                Harlem                    Manhattan                   2
                         Prospect-Lefferts Gardens Brooklyn                    1
A. Nicholas              Upper East Side           Manhattan                   4
A.B.                     Kew Gardens               Queens                      2
                         Midtown                   Manhattan                   1
A.J.                     Prospect-Lefferts Gardens Brooklyn                    1
                         Hell's Kitchen            Manhattan                   1
                         East Village              Manhattan                   2
                         Greenwich Village         Manhattan                   1
                         Harlem                    Manhattan                   1
A.M                      Flatbush                  Brooklyn                    1
A.R.                     Hell's Kitchen            Manhattan                   1
AFI Apartments           Upper East Side           Manhattan                  29
AGood                    Astoria                   Queens                      1
AHm                      Bedford-Stuyvesant        Brooklyn                    1
AJ And Freddy            Midtown                   Manhattan                   1
                         Williamsburg              Brooklyn                    1
Aaash                    Hell's Kitchen            Manhattan                   1
Aakash                   Upper East Side           Manhattan                   1
Aalap                    Nolita                    Manhattan                   1
Aamir                    Harlem                    Manhattan                   1
                         Williamsburg              Brooklyn                    1
Aamito                   Chelsea                   Manhattan                   1
Aanchal                  Morningside Heights       Manhattan                   1
Aandrea                  Chelsea                   Manhattan                   1
Aaron                    Williamsburg              Brooklyn                    4
                         Washington Heights        Manhattan                   2
                         Van Nest                  Bronx                       1
                         Upper West Side           Manhattan                   4
                         Upper East Side           Manhattan                   1
                         Sunset Park               Brooklyn                    1
                         South Slope               Brooklyn                    2
                         Prospect-Lefferts Gardens Brooklyn                    3
                         Midtown                   Manhattan                   4

                                                                        longitude  \
host_name                neighbourhood             neighbourhood_group
'Cil                     Astoria                   Queens                       1
(Ari) HENRY LEE          East Harlem               Manhattan                    1
(Email hidden by Airbnb) Clinton Hill              Brooklyn                     1
                         Midtown                   Manhattan                    2
                         Upper West Side           Manhattan                    1

## Further Questions

1. Which host has the most listings?

In [36]:
mostHost=air_bnb.groupby(['host_name']).sum().sort_values('calculated_host_listings_count', ascending=False)
mostHost
mostHost.iloc[:5]

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
host_name,,,,,,,,,,
Sonder (NYC),10885561678,71782340547,13316.25823,-24198.18856,82795,4353,1281,397.56,106929,98588
Blueground,7210036953,24924786136,9451.60418,-17166.13165,70331,7470,29,6.04,53824,58884
Kara,1981276355,4544361074,5827.31420,-10579.90583,36723,3839,324,14.82,14679,39273
Kazuya,3121544245,14147963198,4197.55601,-7612.96008,4514,3090,87,22.68,10609,20237
Sonder,2517132868,1175332896,3909.55849,-7103.58856,20451,2784,43,8.65,9216,26555
...,...,...,...,...,...,...,...,...,...,...
Elem,106612033,356590860,611.67142,-1109.33273,2003,450,123,2.94,225,4692
Manhattan At Times Square,517349411,3909596175,611.43322,-1109.76980,1900,15,14,14.00,225,4832
Brian,2135621914,6949231726,5702.54174,-10354.39316,24466,645,3705,152.04,220,11934
Rachel,2545922845,6881167343,5946.65934,-10797.50000,20828,750,2333,107.65,216,11761
Michelle,2296387848,6862254296,5702.15125,-10353.35872,19949,714,4417,166.73,208,14017

2. How many listings have completely open availability?

In [37]:
print('There are 25208 available listings.')
air_bnb.groupby(['availability_365']).sum().sort_values('availability_365', ascending=True)

There are 25208 available listings.

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count
availability_365,,,,,,,,,
0,271090273865,751861196096,714117.85365,-1.296711e+06,2385051,82213,139051,5996.19,25208
1,9008168469,24278776092,16619.24631,-3.017366e+04,52840,2724,10381,533.28,2647
2,6154970140,17619061615,10996.74386,-1.996943e+04,39405,1343,5917,366.95,601
3,6634005737,18304229333,12464.31995,-2.262985e+04,41765,1426,7763,386.72,431
4,5130158919,12711749512,9489.91995,-1.723273e+04,31632,1088,4698,289.35,516
...,...,...,...,...,...,...,...,...,...
361,2449287823,11343756978,4519.35079,-8.206443e+03,17439,644,2807,145.61,1740
362,3390859696,16126012582,6759.56356,-1.227488e+04,33382,3093,3124,163.28,1220
363,4680623818,23060584630,9734.86560,-1.767162e+04,47954,2640,3055,161.43,2400
364,9493871610,40590604418,19999.58182,-3.630984e+04,127843,7395,4787,196.09,7973
365,25125529312,110783342498,52744.07351,-9.575654e+04,324747,25382,13236,700.17,17040

3. What room_types have the highest review numbers?

In [181]:
print('Entire home/apt have the most reviews')
air_bnb.groupby(['room_type']).sum().sort_values('number_of_reviews', ascending=False)

Entire home/apt have the most reviews

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
room_type,,,,,,,,,,
Entire home/apt,468495600287,1569156532318,1.034874e+06,-1.879267e+06,5381480,216152,580403,26565.34,271834,2843783
Private room,434663231749,1618079882718,9.093203e+05,-1.650850e+06,2004450,120067,538346,25529.62,72062,2482739
Shared room,26684386497,119044005530,4.724740e+04,-8.577428e+04,81348,7511,19256,1245.08,5409,187921

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --